<div class="dashboard-container">
  <header class="welcome-section">
    <h1 class="font-playfair">Bienvenue, {{ etudiantData()?.prenom }} !</h1>
    <p class="text-secondary">
      Matricule : <strong>{{ etudiantData()?.matricule }}</strong> | Filiere :
      {{ etudiantData()?.filiere }}
    </p>
  </header>

  <section class="stepper-section card-white">
    <h2 class="section-title">Votre parcours de soutenance</h2>

    <div class="stepper-vertical">
      @for (step of steps; track step.id) {
        <div
          class="step-item"
          [class.active]="currentStep() === step.id"
          [class.completed]="currentStep() > step.id"
        >
          <div class="step-indicator">
            @if (!step.isLast) {
              <div class="step-line"></div>
            }

            <div class="step-circle">
              @if (currentStep() > step.id) {
                <span>OK</span>
              } @else {
                <span>{{ step.id }}</span>
              }
            </div>
          </div>

          <div class="step-content">
            <h3 class="step-label">{{ step.label }}</h3>
            <p class="step-description">{{ step.description }}</p>

            @if (currentStep() === step.id && step.id === 1) {
              <button class="btn-gold" routerLink="/etudiant/theme/nouveau">
                Deposer mon theme
              </button>
            }
          </div>
        </div>
      }
    </div>
  </section>
</div>
