.examen-container {
  padding: 2rem;
}

.table-container {
  overflow-x: auto;
  padding: 1rem;
}

.score-pill {
  padding: 0.2rem 0.6rem;
  border-radius: 12px;
  background-color: var(--success-light);
  color: var(--success);
  font-weight: bold;

  &.danger {
    background-color: #fee2e2;
    color: var(--danger);
  }
}

.badge-danger {
  background-color: var(--danger);
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}
